  .container {
    display: flex;
    /* border: 1px solid red; */
    width: 70vw;
    margin: auto;
    padding: 10px;
    flex-wrap: wrap;
  }
  
  .container > div {
    /* border: 1px solid black; */
    flex: 1;
  }
  
  .exchange-rate {
    display: flex;
    padding: 8px;
    border: 1px solid rgb(196, 196, 196);
    flex-direction: column;
  }
  
  .exchange-rate > div {
    flex: 1;
    
  }
  
  .exchangerate-box1{
    display: flex;
    justify-content: space-between;
  }
  .exchangerate-box1 > div {
    flex: 1;
    /* border: 1px solid red; */
  }
  
  .exchangerate-box2{
    display: flex;
    justify-content: space-between;
  }
  .exchangerate-box2 > div {
    flex: 1;
    /* border: 1px solid grey; */
    
  }
  .exchangerate-box3{
    display: flex;
    justify-content: space-between;
  }
  .exchangerate-box3 > div {
    flex: 1;
    /* border: 1px solid grey; */
  }
  